<div class="hotels form">
<form action="/beta/hotels/edit/2" method="post" id="HotelEditForm"><fieldset style="display:none;"><input type="hidden" value="PUT" name="_method"></fieldset><fieldset><legend>Edit Hotel</legend><input type="hidden" id="HotelId" value="2" name="data[Hotel][id]"><div class="input select"><label for="HotelProductId">Product</label><select id="HotelProductId" name="data[Hotel][product_id]">
<option selected="selected" value="2">2</option>
</select></div><div class="input select"><label for="HotelHotelCategoryId">Hotel Category</label><select id="HotelHotelCategoryId" name="data[Hotel][hotel_category_id]">
<option selected="selected" value="1">5 stars</option>
</select></div><div class="input text"><label for="HotelHotelName">Hotel Name</label><input type="text" id="HotelHotelName" value="Villas Lirio" maxlength="45" name="data[Hotel][hotel_name]"></div><div class="input text"><label for="HotelTotalRooms">Total Rooms</label><input type="text" id="HotelTotalRooms" value="20" maxlength="6" name="data[Hotel][total_rooms]"></div><div class="input textarea"><label for="HotelFeatures">Features</label><textarea id="HotelFeatures" rows="6" cols="30" name="data[Hotel][features]"></textarea></div><div class="input text"><label for="HotelInfantAgeMax">Infant Age Max</label><input type="text" id="HotelInfantAgeMax" value="5" maxlength="4" name="data[Hotel][infant_age_max]"></div><div class="input text"><label for="HotelChildAgeMax">Child Age Max</label><input type="text" id="HotelChildAgeMax" value="12" maxlength="4" name="data[Hotel][child_age_max]"></div></fieldset><div class="submit"><input type="submit" value="Submit"></div></form></div>
<div class="actions">
	<ul>
		<li><a onclick="return confirm('Are you sure you want to delete #2');" href="/beta/Hotels/delete/2">Delete</a></li>
		<li><a href="/beta/Hotels">List Hotels</a></li>
		<li><a href="/beta/products">List Products</a></li>
		<li><a href="/beta/products/add">New Product</a></li>
		<li><a href="/beta/hotel_categories">List Hotel Categories</a></li>
		<li><a href="/beta/hotel_categories/add">New Hotel Category</a></li>
		<li><a href="/beta/rooms">List Rooms</a></li>
		<li><a href="/beta/rooms/add">New Room</a></li>
	</ul>
</div>
