/* 
    Document   : admin
    Created on : 25/01/2012, 12:17:14 PM
    Author     : jonathan
    Description:
        Purpose of the stylesheet follows.
*/

form{
    font-size: 80%;
}

div.number input,input.number{
    
    width: 45px;
        
}
div.name input{
    
    width: 350px;
        
}

label.text{
    clear: left;
    margin: 0 20px;
     display: inline-block;
}

div.tinyname, div.name, div.select,div.text, 
div.number,div.checkbox,div.time{
     display: inline-block;
    
}
div.tinyname input,div.text input,
div.number,div.time, div.password{
   
    width: 200px;
        
}
div.checkbox{
    width: 150px;
}
input.rateNumber{
    width: 30px;
}
table.Rate input.rateNumber{
    width: 40px;
    font-size: 12px;
}

table.Rate thead th input.rateNumber{
    width: 25px;
    font-size: 12px;
}

table.Rate, table.Rate select{
 
    font-size: 12px;
}

table.Rate .submit, table.Rate .submit input{
 
   margin: 0px;
   padding: 0px;
}
table.Season div{
    
}
table.Season input{
    width: 120px;
}

div.fulltext input{
    width: 100%;
}

#fieldsetImages div.input{
        border: 1px solid;
    border-radius: 4px;
    height: 74px;
}

#fieldsetImages div.input input, #fieldsetImages input{
      display: inline;
       width:auto;
    
}

#fieldsetImages div.img{
    width: 250px;
    float: left;
    height: 60px;
    border: 1px solid;
    border-radius: 4px;
}

#fieldsetImages div.img label{
    width: 150px;
    display: inline-block;
}

#fieldsetImages img{
    width: 80px;
    height: 60px;
}

.hotelsActions input, .hotelsActions label,.hotelsActions .submit,.hotelsActions text, .hotelsActions .number{
    display: inline;
    
}

.hotelsActions{
    text-align: right;
    
}

.hotelsActions .submit{
    margin:0px;
    padding: 0.5em;
}

form{
    width: auto;
}
form div.submit {
    text-align: right;
}

fieldset label{
    font-size: 1em;
}

.divFeatures .checkbox, .divFeatures .text,.dadDetail .checkbox, .dadDetail .text{
    width: 220px;
      display: inline-block;
      
      margin: 0px;
}
.divFeatures .checkbox  .text{

}

form div.buttongroup {
    display: inline;

}

hr{
    margin: 10px 5px;
    
}

.error input{
    border:  solid #ee0000;
    
}

.error label{
    color:  #ee0000;
    
}

#fieldsetImages .error-message{
    display:inline;
    
}

#nav ul li{
    margin: 0px 0px;
    
}

#nav ul li a{
    background: none;
}

body{
background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}

#header h1{
    background: none;
    
}

#header h1 a,
table a,
#header h1 a:hover,
table a:hover{
        background: none;
        text-decoration: none;
}


a,
a:hover,
a:visited{
    color: black;
    text-decoration: none;
}


.paging{
    text-align: center;
    margin: 0px auto;   
}
.paging span{
     margin: 0px 5px;  
}
.paging span.current{
    font-weight: bolder;
}
.paging span.prev,
.paging span.next{
     margin: 0px 20px;  
}

h2{
    margin: 0px 0px;
    padding: 5px 10px;
    text-align: center;
}

h1{
    font-size:1.3em;
    text-align: center;
    text-shadow: #888 0px 2px 4px;
    margin: 0px;
}