/* 
    Document   : desing_style
    Created on : 16/01/2012, 06:22:49 PM
    Author     : jonathan
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    background:  fixed repeat-x url(images/mapamusgo2.jpg) #87B750 center top  ;
    font-size: 0.8em;

}


#divDiningAndDrinking ul li,#divFeatures ul li {
   display: inline-block;
   width: 250px; 
}

#divFeatures ul,
#divDiningAndDrinking ul,
.clsAmenities ul{
    padding: 0px;
    margin: 0px;
}
#divFeatures ul li ,
#divDiningAndDrinking ul li,
.clsAmenities ul li {
    text-align: left;
    font-size: 0.9em;
   display: inline-block;
   width: 175px; 
   margin: 3px;
}
#divFeatures ul li img,
#divDiningAndDrinking ul li img,
.clsAmenities ul li img{
    padding-right: 3px; 
}

#divFeatures ul li.detail{
    width: auto;
}

#divDiningAndDrinking ul{
    display: inline;
}

#divDiningAndDrinking ul li input,
#divFeatures ul li input{
    display: inline-block;
    height: 20px;
    font-size: 90%;
    max-width: 100px;
}


#divDiningAndDrinking ul li img,
#divFeatures ul li img, 
.clsAmenities ul li img{
    vertical-align: middle;
    
}

.theme-default #slider {
    margin:25px auto 0 auto;
    width:640px; /* Make sure your images are the same size */
    height:380px; /* Make sure your images are the same size */
}
.theme-pascal.slider-wrapper,
.theme-orman.slider-wrapper {
    margin-top:150px;
}

.theme-default #slider .nivo-controlNav {
	position:absolute;
	bottom:-70px; /* Put the nav below the slider */
}
.theme-default #slider .nivo-controlNav img {
	display:inline; /* Unhide the thumbnails */
	position:relative;
	margin-right:10px;
}


h1{
    font-size:1.3em;
    text-align: center;
    text-shadow: #888 0px 2px 4px;
    margin: 0px;
    
   
    z-index: 10;
    background: rgba(36,36,36,0.7);
    display: block;
    padding: 5px;
    color: #fff;

    border-radius: 5px;
-moz-box-shadow: 0px 0px 4px 2px #999;
-webkit-box-shadow: 0px 0px 4px 2px  #999;
box-shadow: 0px 0px 4px 2px  #999;
    
}
.room_title{
    font-size:1.2em;
    text-shadow: #888 0px 2px 4px;  
    font-weight: bolder;
}

.view{

    
}
#viewheader{
       width: 800px;
    margin: 0px auto; 
}
#gallery{
    position: relative;
    -moz-box-shadow: 0px 0px 6px 4px  #999;
-webkit-box-shadow: 0px 0px 6px 4px  #999;
box-shadow: 0px 0px 6px 4px  #999;
border-radius: 5px;
background-color: #EEEEEE;
}

#gallery div.galleria-container{
    margin: 0px auto; 
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}

.view label{
    font-weight: bolder;
    margin: 5px 5px 5px 0px;
}
.view p{
    font-size: .9em;   
}

.view p.texto{
    padding: 5px; 
    margin: 5px 0px 8px 0px;
}

#tabs{
    
    margin: -10px auto 10px auto;    
    max-width: 800px;
        -moz-box-shadow: 0px 0px 6px 4px #999;
-webkit-box-shadow: 0px 0px 6px 4px  #999;
box-shadow: 0px 0px 6px 4px  #999;
}
.review_texto{
    font-style: italic;
    
}

.review_texto q{
quotes: "« " " »" "'" "'";
}

.view table th{
    font-weight: bolder;
    
}

#mapaGoogle iframe{
    width: 650px;
    height:360px;
    margin: 0px auto;
   
    display: block;  
}
#mapaGoogle {
     text-align: center;
}

#login{
    width: 350px;
       margin: 100px auto;
        background-color: #111;
-moz-box-shadow: 0px 0px 6px 4px  #999;
-webkit-box-shadow: 0px 0px 6px 4px  #999;
box-shadow: 0px 0px 6px 4px  #999;
border-radius: 7px;
  
}
#authMessage{
    padding: 10px;
    color: red;
}

#login form {
   background-color:white;
    border:solid 1px #aaa;
    border-radius: 7px;
    padding: 10px;
    
}


#login form .submit{
    text-align: right;
}

#login form fieldset{
    margin: 10px
}

#login form fieldset label{
    display: inline-block;
    width: 100px;
    margin: 10px 5px;
    font-weight: bolder;
}



#viewIndex{
    
    margin: 10px 10px 10px 10px;
   
        -moz-box-shadow: 0px 0px 6px 4px #999;
-webkit-box-shadow: 0px 0px 6px 4px  #999;
box-shadow: 0px 0px 6px 4px  #999;
border-radius: 5px;
padding: 15px 20px;
background: rgba(255, 255, 255, 0.8);
    
}

ul.listicons{
    padding: 0px 30px;
    text-align: center;
}

ul.listicons li.icon{
    width: 200px;
    height: 210px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    
-moz-box-shadow: 0px 0px 6px 4px #999;
-webkit-box-shadow: 0px 0px 6px 4px  #999;
box-shadow: 0px 0px 6px 4px  #999;

background: rgba(255, 255, 255, 0.9);
border-radius: 5px;
margin: 20px;
border:solid 1px;
}
ul.listicons li.icon a{
    width: 200px;
    height: 210px;
    display: block;
}
ul.listicons li.icon:hover a{
    color: white;
}

ul.listicons li.icon:hover{

    background: rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 6px 4px #555;
-webkit-box-shadow: 0px 0px 6px 4px  #555;
box-shadow: 0px 0px 6px 4px  #555;
color: white;    
}

ul.listicons li.icon img{
  
border-radius: 5px 5px 0px 0px;    
    width: 200px;
    height: 140px;
    display: block;
        
}

a,
a:hover,
a:visited{
    color: black;
    text-decoration: none;
}

.icon .icontitle{
    display: block;
      font-size:1.1em;
      font-weight: bolder;
    text-align: center;
    text-shadow: #888 0px 2px 4px;
    margin: 5px 0px;
}

.paging{
    text-align: center;
    margin: 0px auto;   
}
.paging span{
     margin: 0px 5px;  
}
.paging span.current{
    font-weight: bolder;
}
.paging span.prev,
.paging span.next{
     margin: 0px 20px;  
}

.admin_bar{
    float: right;
    text-align: right;
    margin: auto 10px;
}

.admin_bar a{
    
    margin: auto 10px;
}

#FormSearch .active{
      text-shadow: #666 0px 2px 2px;
}

#FormSearch .sort li a.asc:before{
 content: "↑";   
}

#FormSearch li a.desc:before{
     
   content: "↓";
}

#FormSearch ul.filter li,#FormSearch ul.sort li{
    margin: 0px 4px;
   
}

#FormSearch ul.filter,#FormSearch ul.sort {
    padding-left: 2px;
    margin: 0px;
}
#FormSearch ul.filter li a:hover{
    color: #777;
}
#FormSearch #filter:hover {
    
    /*float: left;*/
    position: absolute;
    /*display:inline-block;*/
    width: 400px;
}
#FormSearch #filter:hover{
    background-color: white;
}

#FormSearch .input,#FormSearch fieldset, #FormSearch .filter li,#FormSearch ul.sort li{
    display: inline;
    
}

#FormSearch #filter li.active{
    display: inline;    
}
#FormSearch #filter li{
    display: none;
    
}

#FormSearch #filter:hover li{
    display: inline;
    
}

ul.activitylist{
    padding: 0px;
    margin: 10px;
    list-style: none;
}

ul.activitylist li{
        background: rgba(240, 240, 240, 0.9);
    -moz-box-shadow: 0px 0px 4px 2px #999;
    -webkit-box-shadow: 0px 0px 2px 4px  #999;
    box-shadow: 0px 0px 4px 2px  #999;
    border-radius: 5px 5px 5px 5px;   
    margin: 15px 0px;
    min-height: 100px;
}

ul.activitylist li img{
    height: 100px;
    width: 140px;
border-radius: 5px 0px 0px 5px; 
float: left;

margin-right: 15px;

}

ul.activitylist li label,ul.activitylist li span{
    display: inline;
    vertical-align: top;
    padding: 10px;
    
}

ul.activitylist li label{
    
}

ul.activitylist li p{
    display: block;
   /*padding: 10px;*/
   margin: 0px;
   padding: 0px 10px;
   min-height: 60px;
    
}

ul.activitylist li .spanlink{
    display: inline;
    float: right;
    padding: 0px 10px;
}

.jtable tbody .ui-widget-content{
    text-align: center;
    
}



#contentProducts{
    margin: 5px auto 10px auto;
    background: rgba(255, 255, 255, 0.9);
   width: 900px;
   -moz-box-shadow: 0px 0px 6px 4px #999;
-webkit-box-shadow: 0px 0px 6px 4px  #999;
box-shadow: 0px 0px 6px 4px  #999;
  border-radius: 5px 5px 5px 5px;   
}

#footer{
    text-align: center;
      margin: 0px auto 0px auto;
}

p{
    padding: 0px 10px;
}

#sliderProducts .title{
    position: absolute;
    
    z-index: 10;
    background: rgba(36,36,36,0.7);
    display: block;

    margin: 0px;
    padding: 10px;
    color: #fff;
    width: 100%;
    border: solid 1px #000;
        
}
#contentProducts h1{
    padding: 10px;
}

#sliderProducts ol li div{
    border: solid 1px #000;
       -moz-box-shadow: 0px 0px 4px 2px #999;
-webkit-box-shadow: 0px 0px 4px 2px  #999;
box-shadow: 0px 0px 4px 2px  #999;
  border-radius: 5px 5px 5px 5px;  
}


#FormSearch{
     margin-left: 30px;
     

}

#divItinerary h3{
    margin-bottom: 5px;
    padding-left: 30px;
}

#divItinerary div{
    padding: 5px;
}
#divItinerary div p{
    margin: 5px;
}

#divItinerary .spanEat{
    float: right;
    margin-right: 10px;
}

label.price{
    color: #bb0000;
    text-shadow: #888 0px 2px 4px;
}


.pagination {list-style:none; margin:10px 0px 0px 0px; padding:0px; clear:both;}
.pagination li{float:left; margin:3px;}
.pagination li a{   display:block; padding:3px 5px; color:#fff; background-color:#777; text-decoration:none;}
.pagination li a.active {border:1px solid #000; color:#000; background-color:#fff;}
.pagination li a.inactive {background-color:#eee; color:#777; border:1px solid #ccc;}

div.box{
background: none repeat scroll 0 0 #F1F1F1;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px #777777;
    color: #555555;
    list-style: none outside none;
    margin: 5px 4px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
    
.clsRoom p{
text-align: left;
}

table.tableVehicles{
    width: 100%;
}

.divLigthbox{
    /*width:800px;*/
    min-width: 600px;
    max-width: 800px;
    margin: 0px auto; 
}

.descriptionLabels label {
    display: inline;
    line-height: 1.8em;
}

#formReserve fieldset{
    min-width: 250px;
line-height: 1.8em;
}

#formReserve fieldset div{
    display: inline-block;
    margin-right: 10px;
   
}

fieldset#fieldsetAditionalService{
    float: right;
    width: 220px;
}

#fieldsetAditionalService ul{
    padding-left: 0px;
    list-style: none;
    margin: 0px;
}

div.number input{
    width: 50px;
}


div.bar a img.selected{
background-color:#CCC;

}
