/* 
    Document   : desing_style
    Created on : 16/01/2012, 06:22:49 PM
    Author     : jonathan
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#divFeatures ul li{
display: inline;
display: 
    
}

