/* 
    Document   : desing_style
    Created on : 16/01/2012, 06:22:49 PM
    Author     : jonathan
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}



#divDiningAndDrinking ul li,#divFeatures ul li {
   display: inline-block;
   width: 250px; 
}
.clsAmenities ul li {
   display: inline-block;
   width: 170px; 
}
#divDiningAndDrinking ul li input,#divFeatures ul li input{
    display: inline-block;
    height: 20px;
    font-size: 90%;
    max-width: 100px;
}


#divDiningAndDrinking ul li img,#divFeatures ul li img, .clsAmenities ul li img{
    vertical-align: middle;
    
}

